name: Main

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

jobs:
  backend-ci:
    runs-on: ubuntu-latest
    steps:
      - uses: DCC-BS/ci-workflows/.github/workflows/python-backend-ci.yml@v1
        with:
          python_versions: '["3.10","3.11","3.12","3.13"]'
          quality_python_version: "3.12"
          check_command: "make check"
